/* Contenedor general de la página */
.dash-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden; /* Evitar desplazamiento horizontal no deseado */
    height: 100vh;
}

/* Estilos para el contenedor del Carousel */
.carousel-container {
    width: 100%;
    max-width: 1000px;
    margin-top: 0px; /* Ajuste dinámico del margen superior para pantallas grandes */
    padding: 0 20px;
}

/* Estilos para la lista de productos */
.product-list-container {
    width: 100%;
    max-width: 1200px; /* Máximo ancho para la lista de productos */
    margin-top: 80px; /* Espacio entre el Carousel y los productos */
    padding: 0 20px;
}

/* Responsividad para dispositivos pequeños */
@media (max-width: 600px) {
    .carousel-container {
        margin-top: 80px; /* Menor espacio para pantallas pequeñas */
    }

     .product-list-container {
        margin-top: 40px; /* Menor espacio para pantallas pequeñas */
        gap: 10px;
    }

    /* Ajustes para las imágenes de las cards */
    .MuiCardMedia-root {
        height: 150px; /* Ajuste la altura de las imágenes en pantallas pequeñas */
        object-fit: cover; /* Mantener la proporción de la imagen */
        width: 100%; /* Asegurar que las imágenes ocupen todo el ancho */
    }
}

/* Responsividad para pantallas medianas */
@media (min-width: 600px) and (max-width: 1024px) {
    .carousel-container {
        margin-top: 100px; /* Espacio intermedio para pantallas medianas */
    }

   .product-list-container {
        margin-top: 20px; /* Espacio intermedio para pantallas medianas */
        gap: 15px;
    }

    /* Ajustes para las imágenes de las cards */
    .MuiCardMedia-root {
        height: 180px; /* Ajuste la altura de las imágenes en pantallas medianas */
        object-fit: cover; /* Mantener la proporción de la imagen */
        width: 100%; /* Asegurar que las imágenes ocupen todo el ancho */
    }
}
