.css-krj14x-MuiContainer-root {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 32px;
    margin-bottom: 48px;
    margin-top: 80px;
}